MONGO_BACKUP_SCHEDULE=0 20 * * *
PUBLIC_DOMAIN_NAME=kobotoolbox.org
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=your-password-here
AWS_ACCESS_KEY_ID=your-access-key-id-here
AWS_SECRET_ACCESS_KEY=your-secret-access-key-here
BACKUP_AWS_STORAGE_BUCKET_NAME=your-bucket-name-here
AWS_BACKUP_BUCKET_DELETION_RULE_ENABLED=True
AWS_BACKUP_YEARLY_RETENTION=1
AWS_BACKUP_MONTHLY_RETENTION=4
AWS_BACKUP_WEEKLY_RETENTION=14
AWS_BACKUP_DAILY_RETENTION=97
AWS_MONGO_BACKUP_MINIMUM_SIZE=250
